body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f7f7f7;
}

form label {
    display: block;
    margin-bottom: 10px;
}

#taskmanager p {
    background: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
}